* {
  font-family: 'Roboto', sans-serif;
}

figure {
  margin: 0;
}

p,
a,
span,
li,
ol,
label,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select,
div {
  font-size: 14px;
  text-decoration: none;
  color: var(--gray_fake);
  font-weight: 400;
  margin: 0;
  &:hover {
    text-decoration: none;
  }
}

a {
  color: blue;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto 15px;
  color: black;
  font-weight: 700;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}