$base: (
  neutral: #72808D,
  purple: #CB05FA,
  pink: #E41B6E,
  red: #D92626,
  orange: #E58A19,
  yellow: #E5C31A,
  green: #33CC33,
  aqua: #38B8C7,
  blue: #0D64F2,
  lilac: #930DF2,
  instagram: #F20D8E,
  youtube: #FF0000,
  pinterest: #FF0027,
  google: #16E982,
  whatsapp: #26D969,
  twitter: #0E9BF1,
  linkedin: #2E78D1,
  facebook: #456CBA,
  x: #000000,
  tiktok: #000000,
  twitch: #456CBA
) !default;

@function adjust-color($i, $color) {
  @return mix(if($i > 50, white, black), $color, abs($i - 50) * 2);
}

:root {
  @for $i from 0 through 100 {
    $brightness: $i * 1%;
    @if $i % 5 == 0 {
      @each $name, $color in $base {
        $adjustedName: #{$name}-#{$i};
        $adjustedColor: adjust-color($i, $color);
        --#{"" + $adjustedName}: #{$adjustedColor};
        .#{"" + $adjustedName} {
          color: var(--#{$adjustedName}) !important;
        }
        .background-#{"" + $adjustedName} {
          background-color: var(--#{$adjustedName}) !important;
        }
        .border-#{"" + $adjustedName} {
          border-color: var(--#{$adjustedName}) !important;
        }
      }
    }
  }
}
