$colors: (
  black: (
    base:  var(--neutral-10),
    light:  var(--neutral-30),
    medium: var(--neutral-20)
  ),
  white: (
    base: var(--neutral-95)
  ),
  black-html: (
    base: black
  ),
  white-html: (
    base: white
  ),
  transparent: (
    base: transparent
  ),
  gray: (
    base: var(--neutral-50),
    light: var(--neutral-90),
    dark: var(--neutral-50)
  ),
  pink: (
    base: var(--pink-50),
    light: var(--pink-70),
    dark: var(--pink-30)
  ),
  lilac: (
    base: var(--lilac-50),
    light: var(--lilac-70),
    dark: var(--lilac-30)
  ),
  cian: (
    base: var(--aqua-50),
    light: var(--aqua-70),
    dark: var(--aqua-30)
  ),
  green: (
    base: var(--green-50),
    light: var(--green-70),
    dark: var(--green-30)
  ),
  aqua: (
    base: var(--aqua-50),
    light: var(--aqua-70),
    dark: var(--aqua-30)
  ),
  yellow: (
    base: var(--yellow-50),
    light: var(--yellow-70),
    dark: var(--yellow-30)
  ),
  red: (
    base: var(--red-50),
    light: var(--red-70),
    dark: var(--red-30)
  ),
  red-bl: (
    base: var(--red-50),
    light: var(--red-70),
    dark: var(--red-30)
  ),
  blue: (
    base: var(--blue-50),
    light: var(--blue-70),
    dark: var(--blue-30)
  ),
  pomegranate: (
    base: var(--red-50),
    light: var(--red-70),
    dark: var(--red-30)
  ),
  lemon: (
    base: var(--yellow-50),
    light: var(--yellow-70),
    dark: var(--yellow-30)
  ),
  gold: (
    base: var(--yellow-50),
    light: var(--yellow-70),
    dark: var(--yellow-30)
  ),
  pastry: (
    base: var(--yellow-50),
    light: var(--yellow-70),
    dark: var(--yellow-30)
  ),
  instagram: (
    base: var(--instagram-50),
    light: var(--instagram-70),
    dark: var(--instagram-30)
  ),
  twitter: (
    base: var(--twitter-50),
    light: var(--twitter-70),
    dark: var(--twitter-30)
  ),
  youtube: (
    base: var(--youtube-50),
    light: var(--youtube-70),
    dark: var(--youtube-30)
  ),
  pinterest: (
    base: var(--pinterest-50),
    light: var(--pinterest-70),
    dark: var(--pinterest-30)
  ),
  facebook: (
    base: var(--facebook-50),
    light: var(--facebook-70),
    dark: var(--facebook-30)
  ),
  google: (
    base: var(--google-50),
    light: var(--google-70),
    dark: var(--google-30)
  ),
  linkedin: (
    base: var(--linkedin-50),
    light: var(--linkedin-70),
    dark: var(--linkedin-30)
  ),
  whatsapp: (
    base: var(--whatsapp-50),
    light: var(--whatsapp-70),
    dark: var(--whatsapp-30)
  ),
  tiktok: (
    base: var(--tiktok-0),
    light: var(--tiktok-100),
    dark:   var(--tiktok-0)
  )
) !default;
/* Sass Vars */

/* CSS Vars */
:root {
  @each $colorName, $colorGroup in $colors {
    @each $tone, $color in $colorGroup {
      @if ($tone == base) {
        --#{"" + $colorName}: #{$color};
      } @else {
        --#{"" + $colorName}_#{$tone}: #{$color};
      }
    }
  }
  --border_color: var(--gray_light);
  --black_background: var(--black_medium);
  --black_text: var(--white);
  --black_title: var(--white-html);
  --black_secondary: var(--black);
  --black_border: var(--gray_dark);
  --white_background: var(--white);
  --white_text: var(--black_medium);
  --white_title: var(--black);
  --white_secondary: var(--white-html);
  --white_border: var(--gray_light);
  --background: var(--white);
  --background_secondary: var(--white_background);
  --text_color: var(--white_text);
  --title_color: var(--black_medium);
  --background_third: var(--white_background);
  --background_reset: var(--white-html);
  --shadow_color: #64647680;
  --box_shadow: 0px 4px 12px -5px var(--shadow_color);
  --border_color: var(--gray_light);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--white);
    --background_secondary: var(--white_secondary);
    --text_color: var(--white_text);
    --title_color: var(--white_title);
    --background_third: var(--white_background);
    --background_reset: var(--white-html);
    --shadow_color: #64647680;
    --box_shadow: 0px 4px 12px -5px var(--shadow_color);
    --border_color: var(--white_border);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black_background);
    --background_secondary: var(--black_secondary);
    --text_color: var(--black_text);
    --title_color: var(--black_title);
    --background_third: var(--black_light);
    --shadow_color: #00000040;
    --background_reset: #101010;
    --box_shadow: 0px 4px 20px 0px var(--shadow_color);
    --border_color: var(--black_border);
  }
}

body.dark {
  --background: var(--black_background) !important;
  --background_secondary: var(--black_secondary) !important;
  --text_color: var(--black_text) !important;
  --title_color: var(--black_title) !important;
  --background_third: var(--black_light) !important;
  --shadow_color: #00000040 !important;
  --background_reset: #101010  !important;
  --box_shadow: 0px 4px 20px 0px var(--shadow_color) !important;
  --border_color: var(--black_border) !important;
}
body.light {
  --background: var(--white) !important;
  --background_secondary: var(--white_secondary) !important;
  --text_color: var(--white_text) !important;
  --title_color: var(--white_title) !important;
  --background_third: var(--white_background) !important;
  --background_reset: var(--white-html) !important;
  --shadow_color: #64647680 !important;
  --box_shadow: 0px 4px 12px -5px var(--shadow_color) !important;
  --border_color: var(--white_border) !important;
}
/* CSS Vars */

/* Classes */
@each $colorName, $colorGroup in $colors {
  @each $tone, $color in $colorGroup {
    @if ($tone == base) {
      .#{"" + $colorName} {
        color: #{$color} !important;
      }
      .background-#{"" + $colorName} {
        background-color: #{$color} !important;
      }
      .border-#{"" + $colorName} {
        border-color: #{$color} !important;
      }
    } @else {
      .#{"" + $colorName}-#{$tone} {
        color: #{$color} !important;
      }
      .background-#{"" + $colorName}-#{$tone} {
        background-color: #{$color} !important;
      }
      .border-#{"" + $colorName}-#{$tone} {
        border-color: #{$color} !important;
      }
    }
  }
}
/* Classes */