/* Sass Vars */
$amoutLigthen: 23%;
$amountDarken: 15%;

$black:      #31353B !default;
$blackHtml:  #000000 !default;
$white:      #ECEFF4 !default;
$whiteHtml:  #FFFFFF !default;
$gray:       #ACB5BD !default;
$grayLight:  #DDE2E5 !default;
$grayDark:   #495057 !default;
$pink:       #E94589 !default;
$lilac:      #7C70D1 !default;
$cian:       #5ACAED !default;
$green:      #01ED6E !default;
$yellow:     #FED708 !default;
$red:        #EE3030 !default;
$red-bl:     #FF4F33 !default;
$blue:       #5E9BFF !default;
$pomegranate:#ee7177 !default;
$lemon:      #fcff05 !default;
$gold:       #fccc0a !default;
$pastry:     #fdef72 !default;
$instagram:  #F42A9C !default;
$twitter:    #1DA1F2 !default;
$youtube:    #FF0000 !default;
$pinterest:  #E60023 !default;
$facebook:   #4267B2 !default;
$google:     #0F9D58 !default;

$colors: (
  black: (
    base: $black
  ),
  white: (
    base: $white
  ),
  black-html: (
    base: $blackHtml
  ),
  white-html: (
    base: $whiteHtml
  ),
  transparent: (
    base: transparent
  ),
  gray: (
    base: $gray,
    light: $grayLight,
    dark: $grayDark
  ),
  pink: (
    base: $pink,
    light: lighten($pink, $amoutLigthen),
    dark: darken($pink, $amountDarken)
  ),
  lilac: (
    base: $lilac,
    light: lighten($lilac, $amoutLigthen),
    dark: darken($lilac, $amountDarken)
  ),
  cian: (
    base: $cian,
    light: lighten($cian, $amoutLigthen),
    dark: darken($cian, $amountDarken) 
  ),
  green: (
    base: $green,
    light: lighten($green, $amoutLigthen),
    dark: darken($green, $amountDarken)
  ),
  yellow: (
    base: $yellow,
    light: lighten($yellow, $amoutLigthen),
    dark: darken($yellow, $amountDarken)
  ),
  red: (
    base: $red,
    light: lighten($red, $amoutLigthen),
    dark: darken($red, $amountDarken)
  ),
  red-bl: (
    base: $red-bl,
    light: lighten($red-bl, $amoutLigthen),
    dark: darken($red-bl, $amountDarken)
  ),
  blue: (
    base: $blue,
    light: lighten($blue, $amoutLigthen),
    dark: darken($blue, $amountDarken)
  ),
  pomegranate: (
    base: $pomegranate,
    light: lighten($pomegranate, $amoutLigthen),
    dark: darken($pomegranate, $amountDarken)
  ),
  lemon: (
    base: $lemon,
    light: lighten($lemon, $amoutLigthen),
    dark: darken($lemon, $amountDarken)
  ),
  gold: (
    base: $gold,
    light: lighten($gold, $amoutLigthen),
    dark: darken($gold, $amountDarken)
  ),
  pastry: (
    base: $pastry,
    light: lighten($pastry, $amoutLigthen),
    dark: darken($pastry, $amountDarken)
  ),
  instagram: (
    base: $instagram,
    light: lighten($instagram, $amoutLigthen),
    dark: darken($instagram, $amountDarken)
  ),
  twitter: (
    base: $twitter,
    light: lighten($twitter, $amoutLigthen),
    dark: darken($twitter, $amountDarken)
  ),
  youtube: (
    base: $youtube,
    light: lighten($youtube, $amoutLigthen),
    dark: darken($youtube, $amountDarken)
  ),
  pinterest: (
    base: $pinterest,
    light: lighten($pinterest, $amoutLigthen),
    dark: darken($pinterest, $amountDarken)
  ),
  facebook: (
    base: $facebook,
    light: lighten($facebook, $amoutLigthen),
    dark: darken($facebook, $amountDarken)
  ),
  google: (
    base: $google,
    light: lighten($google, $amoutLigthen),
    dark: darken($google, $amountDarken)
  )
) !default;
/* Sass Vars */

/* CSS Vars */
:root {
  @each $colorName, $colorGroup in $colors {
    @each $tone, $color in $colorGroup {
      @if ($tone == base) {
        --#{"" + $colorName}: #{$color};
      } @else {
        --#{"" + $colorName}_#{$tone}: #{$color};
      }
    }
  }
}
/* CSS Vars */

/* Classes */
@each $colorName, $colorGroup in $colors {
  @each $tone, $color in $colorGroup {
    @if ($tone == base) {
      .#{"" + $colorName} {
        color: #{$color} !important;
      }
      .background-#{"" + $colorName} {
        background-color: #{$color} !important;
      }
      .border-#{"" + $colorName} {
        border-color: #{$color} !important;
      }
    } @else {
      .#{"" + $colorName}-#{$tone} {
        color: #{$color} !important;
      }
      .background-#{"" + $colorName}-#{$tone} {
        background-color: #{$color} !important;
      }
      .border-#{"" + $colorName}-#{$tone} {
        border-color: #{$color} !important;
      }
    }
  }
}
/* Classes */