$radius: (
  "default": 5px,
  "medium": 8px,
  "round": 50%
) !default;

.rounded {
  border-radius: map-get($radius, 'round');
}

.border-radius {
  border-radius: map-get($radius, 'default');
}

.border-radius-medium {
  border-radius: map-get($radius, 'medium');
}