.scrollbar {
  scrollbar-color: var(--color_surface_primary) var(--color_text-icon_neutral_secondary);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color_surface_primary);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color_text-icon_neutral_secondary);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color_text-icon_neutral_primary);
  }
}