.scrollbar {
  &::-webkit-scrollbar {
    /* Sempre que mudar o width do scroll, lembrar de mudar o padding-right do body.block no _defaults.scss  */
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color_surface_secondary);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--neutral-50);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color_text-icon_neutral_primary);
  }
}