.scrollbar {
  scrollbar-color: var(--background) var(--gray_dark);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--text_color);
    border-radius: 7px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--background_secondary);
  }
}