
$configShadow: 0px 4px 12px;
.box-shadow {
  box-shadow: $configShadow -5px rgba(212, 212, 219, 0.5);
}

.box-shadow-none {
  box-shadow: none;
}

.text-shadow {
  text-shadow: $configShadow rgba(212, 212, 219, 0.5);
}

.text-shadow-none {
  text-shadow: none;
}

.drop-shadow {
  filter: drop-shadow($configShadow rgba(212, 212, 219, 0.5));
}

.drop-shadow-none {
  filter: drop-shadow(none);
}