$aligns: center, justify, left, right !default;
$weights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
) !default;

@each $align in $aligns {
  .text-#{"" + $align} {
    text-align: $align !important;
  }
}

@each $name, $value in $weights {
  .text-#{"" + $name} {
    font-weight: $value !important;
  }
}

.disabled {
  cursor: not-allowed !important;
  color: var(--gray) !important;
  border-color: var(--gray_light) !important;
  background: var(--gray_light) !important;
}

.readonly {
  color: var(--black) !important;
  border-color: var(--gray_light) !important;
  background: var(--white) !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis-more {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}