$aligns: center, justify, left, right !default;
$weights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
) !default;

@each $align in $aligns {
  .text-#{"" + $align} {
    text-align: $align !important;
  }
}

@each $name, $value in $weights {
  .text-#{"" + $name} {
    font-weight: $value !important;
  }
}

.disabled {
  cursor: not-allowed !important;
  color: var(--color_text-icon_neutral_disabled) !important;
  border-color: var(--color_border_input_disabled) !important;
  background: var(--color_bg_input_disabled) !important;
  opacity: 0.3;
}

.readonly {
  color: var(--text_color) !important;
  cursor: initial !important;
  opacity: 1 !important;
}

select, input, textarea, button {
  &.readonly {
    background: var(--background) !important;
    border-color: var(--gray_dark) !important;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis-more {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}