@mixin generate-by-list($list, $scale, $prefix, $suffix: "") {
  @each $name, $color in $list {
    @include generate-variable($name, $color, $scale, $prefix, $suffix);
  }  
}

@mixin generate-variable($name, $color, $scale, $prefix, $suffix: "") {
  $suffixParsed: if($suffix != "", #{"_" + $suffix}, '');

  --#{"" + $prefix + "_" + $name + $suffixParsed}: var(--#{$color}-#{$scale});
}

$brands: (
  wake: 'purple',
  squid: 'pink'
);

$system: (
  danger: 'red',
  warning: 'yellow',
  success: 'green',
  information: 'blue',
  discovery: 'lilac'
);

$highlight: (
  orange: 'orange',
  aqua: 'aqua'
);

$social: (
  instagram: 'instagram',
  youtube: 'youtube',
  pinterest: 'pinterest',
  google: 'google',
  whatsapp: 'whatsapp',
  twitter: 'twitter',
  linkedin: 'linkedin',
  facebook: 'facebook',
  twitch: 'twitch'
);

@mixin theme-light {
  // TEXT ICON
  @include generate-variable('neutral_primary', 'neutral', 10, 'color_text-icon');
  @include generate-variable('neutral_secondary', 'neutral', 30, 'color_text-icon');
  @include generate-variable('neutral_tertiary', 'neutral', 40, 'color_text-icon');
  @include generate-variable('neutral_disabled', 'neutral', 95, 'color_text-icon');
  @include generate-variable('neutral_inverse', 'neutral', 100, 'color_text-icon');
  @include generate-variable('link', 'instagram', 30, 'color_text-icon');

  @include generate-by-list($system, 40, 'color_text-icon_brand');
  @include generate-by-list($system, 30, 'color_text-icon_system');
  @include generate-by-list($highlight, 30, 'color_text-icon_highlight');
  @include generate-by-list($social, 30, 'color_text-icon_social');

  // BOX
  @include generate-variable('neutral_primary', 'neutral', 100, 'color_bg_box');
  @include generate-variable('neutral_primary', 'neutral', 90, 'color_bg_box', 'hover');
  @include generate-variable('neutral_primary', 'neutral', 10, 'color_bg_box', 'inverse');
  @include generate-variable('neutral_primary', 'neutral', 20, 'color_bg_box', 'inverse-hover');
  @include generate-variable('neutral_secondary', 'neutral', 90, 'color_bg_box');
  @include generate-variable('neutral_secondary', 'neutral', 80, 'color_bg_box', 'hover');
  @include generate-variable('neutral_secondary', 'neutral', 20, 'color_bg_box', 'inverse');
  @include generate-variable('neutral_secondary', 'neutral', 30, 'color_bg_box', 'inverse-hover');
  @include generate-variable('neutral_disabled', 'neutral', 85, 'color_bg_box');

  @include generate-by-list($system, 95, 'color_bg_box_system');
  @include generate-by-list($system, 85, 'color_bg_box_system', 'hover');
  @include generate-by-list($highlight, 95, 'color_bg_box_highlight');
  @include generate-by-list($highlight, 85, 'color_bg_box_highlight', 'hover');
  @include generate-by-list($social, 95, 'color_bg_box_social');
  @include generate-by-list($social, 85, 'color_bg_box_social', 'hover');
}

@mixin theme-dark {
  // TEXT ICON
  @include generate-variable('neutral_primary', 'neutral', 100, 'color_text-icon');
  @include generate-variable('neutral_secondary', 'neutral', 70, 'color_text-icon');
  @include generate-variable('neutral_tertiary', 'neutral', 60, 'color_text-icon');
  @include generate-variable('neutral_disabled', 'neutral', 5, 'color_text-icon');
  @include generate-variable('neutral_inverse', 'neutral', 10, 'color_text-icon');
  @include generate-variable('link', 'instagram', 70, 'color_text-icon');

  @include generate-by-list($system, 70, 'color_text-icon_brand');
  @include generate-by-list($system, 70, 'color_text-icon_system');
  @include generate-by-list($highlight, 70, 'color_text-icon_highlight');
  @include generate-by-list($social, 70, 'color_text-icon_social');

  // BOX
  @include generate-variable('neutral_primary', 'neutral', 10, 'color_bg_box');
  @include generate-variable('neutral_primary', 'neutral', 20, 'color_bg_box', 'hover');
  @include generate-variable('neutral_primary', 'neutral', 100, 'color_bg_box', 'inverse');
  @include generate-variable('neutral_primary', 'neutral', 90, 'color_bg_box', 'inverse-hover');
  @include generate-variable('neutral_secondary', 'neutral', 20, 'color_bg_box');
  @include generate-variable('neutral_secondary', 'neutral', 30, 'color_bg_box', 'hover');
  @include generate-variable('neutral_secondary', 'neutral', 90, 'color_bg_box', 'inverse');
  @include generate-variable('neutral_secondary', 'neutral', 80, 'color_bg_box', 'inverse-hover');
  @include generate-variable('neutral_disabled', 'neutral', 25, 'color_bg_box');

  @include generate-by-list($system, 10, 'color_bg_box_system');
  @include generate-by-list($system, 20, 'color_bg_box_system', 'hover');
  @include generate-by-list($highlight, 10, 'color_bg_box_highlight');
  @include generate-by-list($highlight, 20, 'color_bg_box_highlight', 'hover');
  @include generate-by-list($social, 10, 'color_bg_box_social');
  @include generate-by-list($social, 20, 'color_bg_box_social', 'hover');
}

@mixin theme-global {
  // TEXT ICON
  @include generate-variable('neutral_placeholder', 'neutral', 50, 'color_text-icon');

  @include generate-variable('universal_black_primary', 'neutral', 10, 'color_text-icon');
  @include generate-variable('universal_black_secondary', 'neutral', 30, 'color_text-icon');
  @include generate-variable('universal_black_tertiary', 'neutral', 40, 'color_text-icon');
  @include generate-variable('universal_black_disabled', 'neutral', 70, 'color_text-icon');

  @include generate-variable('universal_white_primary', 'neutral', 100, 'color_text-icon');
  @include generate-variable('universal_white_secondary', 'neutral', 70, 'color_text-icon');
  @include generate-variable('universal_white_tertiary', 'neutral', 60, 'color_text-icon');
  @include generate-variable('universal_white_disabled', 'neutral', 40, 'color_text-icon');

  @include generate-variable('universal_brand_wake', 'purple', 70, 'color_text-icon');
  @include generate-variable('universal_brand_squid', 'pink', 70, 'color_text-icon');

  @include generate-variable('universal_social_x', 'x', 0, 'color_text-icon');
  @include generate-variable('universal_social_tiktok', 'tiktok', 0, 'color_text-icon');
}

:root {
  @include theme-light;
  @include theme-global;
}
