/* Primary */
.primary {
  color: var(--primary_color) !important;
}

.background-primary {
  background-color: var(--primary_color) !important;
}

.border-primary {
  border-color: var(--primary_color) !important;
}

/* Primary */