@use "sass:math";

.accordion{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

$icon-box: 16px !default;

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  @extend .mb-2 !optional;
  &:last-child {
    @extend .mb-0 !optional;
  }
  .collapse-title {
    margin: 0;
    position: relative;
    padding: $gutter $gutter * 2;
    width: 100%;
    color: var(--color_text-icon_neutral_secondary);
    font-size: 1.15rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: var(--color_surface_primary);
    cursor: pointer;
    transition: $transition;
    border-radius: 5px;
    .icon {
      display: block;
      position: absolute;
      height: $icon-box;
      width: $icon-box;
      right: $gutter;
      margin-left: math.div($gutter, 2);
      font-size: 1rem;
      line-height: $icon-box;
      transition: $transition;
      text-align: center;
      &.not-end {
        position: initial;
      }
    }
      
  }
  .collapse-body {
    width: 100%;       
    transition: $transition;
    opacity: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
  }
  &.active{
    .collapse-title {
      .icon {
        transform: rotate(180deg);
      }
    }
    .collapse-body {
      @extend .scrollbar;    
      padding: $gutter $gutter * 2;
      opacity: 1;
      max-height: 9999px;
      overflow-y: auto;        
    }
  }
  &.collapse-loading {
    .collapse-body {
      opacity: 0;
      height: auto;
      max-height: 0;
      padding: 0;
    }
  }
  &.collapse-disabled {
    .collapse-title {
      @extend .disabled;
    }
    .collapse-body {
      opacity: 0;
      height: auto;
      max-height: 0;
      padding: 0;
    }
  }
}