.accordion{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

$icon-box: 16px !default;

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  @extend .mb-2;
  &:last-child {
    @extend .mb-0;
  }
  .collapse-title {
    margin: 0;
    position: relative;
    padding: $gutter ($gutter * 2);
    width: 100%;
    color: var(--black);
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: var(--white);
    cursor: pointer;
    transition: $transition;
    border-radius: 5px;
    .icon {
      display: block;
      position: absolute;
      height: $icon-box;
      width: $icon-box;
      right: $gutter;
      top: $gutter;
      margin-left: ($gutter / 2);
      font-size: 1rem;
      line-height: $icon-box;
      transition: $transition;
      text-align: center;
      &.not-end {
        position: initial;
      }
    }
      
  }
  .collapse-body {
    width: 100%;       
    transition: $transition;
    opacity: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
  }
  &.active{
    .collapse-title {
      .icon {
        transform: rotate(180deg);
      }
    }
    .collapse-body {               
      padding: $gutter;
      opacity: 1;
      max-height: 9999px;           
    }
  }
  &.collapse-disabled {
    .collapse-title {
      @extend .disabled;
    }
    .collapse-body {
      opacity: 0;
      height: auto;
      max-height: 0;
      padding: 0;
    }
  }
}