$badge-vertical-position: calc(100% - 0.5rem) !default;
$badge-horizontal-position: calc(100% - 0.35rem) !default;

.badge {
  padding: 0 ($gutter / 4);
  background-color: var(--red);
  color: var(--white-html);
  font-size: 8px;
  font-weight: 500;
  display: inline-block;
  min-width: 8px;
  min-height: 8px;
  @extend .border-radius;
  &.rounded {
    @extend .rounded;
  }
  &.over-element {
    position: absolute;
    left: $badge-horizontal-position;
    bottom: $badge-horizontal-position;
    top: initial;
    right: initial;
    &.top-left {
      right: $badge-horizontal-position;
      bottom: $badge-horizontal-position;
      top: initial;
      left: initial;
    }
    &.top-right {
      left: $badge-horizontal-position;
      bottom: $badge-horizontal-position;
      top: initial;
      right: initial;
    }
    &.bottom-left {
      right: $badge-horizontal-position;
      top: $badge-vertical-position;
      bottom: initial;
      left: initial;
    }
    &.bottom-right {
      left: $badge-horizontal-position;
      top: $badge-vertical-position;
      bottom: initial;
      right: initial;
    }
  }
}