.box {
  background: var(--white-html);
  padding: $gutter $gutter * 2;
  margin: 0 0 $gutter * 2;
  overflow: hidden;
  @extend .box-shadow;
  .borded {
    border: 1px solid transparent;
  }
  @media (max-width: map-get($grid-breakpoints, lg)) {
    padding: $gutter;
    margin: 0 0 $gutter;
  }
}