.box {
  background: var(--white-html);
  padding: $gutter;
  border-radius: 5px;
  margin: 0 0 $gutter;
  overflow: hidden;
  @extend .box-shadow;
  .borded {
    border: 1px solid transparent;
  }
}