.button {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;
  margin: 0;
  font-weight: 500;
  border-radius: 5px; 
  overflow: hidden;
  box-shadow: none;
  color: var(--color_text-icon_neutral_inverse);
  background-color: var(--color_bg_button);
  border: 2px solid var(--color_border_button_neutral);
  transition: $transition;
  &.rounded {
    border-radius: 4rem;
  }
  &.button-xl {
    padding: 1rem;
  }
  &.button-lg {
    padding: 0.75rem 1rem;
  }
  &.button-sm {
    padding: 0.2rem 1rem;
    font-size: 0.85rem;
  }
  &:hover, &:focus {
    outline: none;
    cursor: pointer;
    background-color: var(--color_bg_button_hover);
    &:before {
      border-color: inherit;
    }
  }
  &.inverted {
    background-color: transparent;
    color: var(--color_border_button_neutral);
    &:hover {
      background-color: var(--color_bg_button_inverse-hover);
    }
  }
  &[disabled] {
    @extend .disabled;
  }

  &.button-primary {
    background-color: var(--primary_color);
    border-color: var(--primary_color);
    color: var(--secondary_color);
    &:hover, &:focus {
      background-color: var(--primary_color_hover);
    }
  }
  &.button-primary.inverted {
    background-color: transparent;
    color: var(--primary_color);
    border-color: var(--primary_color);
    &:hover, &:focus {
      background-color: var(--primary_color);
      color: var(--secondary_color);
    }
  }

  @each $groupName, $list in $lists {
    @each $name, $color in $list {
      &.button-#{"" + $name} {
        background-color: var(--color_bg_button_#{$groupName}_#{$name});
        border-color: var(--color_border_button_#{$groupName}_#{$name});
        &:hover, &:focus {
          background-color: var(--color_bg_button_#{$groupName}_#{$name}_hover);
        }
      }
      &.button-#{"" + $name}.inverted {
        color: var(--color_border_button_#{$groupName}_#{$name});
        border-color: var(--color_border_button_#{$groupName}_#{$name});
        background-color: transparent;
        &:hover, &:focus {
          background-color: var(--color_bg_button_#{$groupName}_#{$name}_inverse-hover);
          color: inherit;
        }
      }
    }
  }

  @each $colorName, $colorGroup in $colors {
    &.button-#{"" + $colorName} {
      background-color: var(--#{"" + $colorName});
      border-color: var(--#{"" + $colorName});
      @if (
          $colorName == yellow or
          $colorName == cian or
          $colorName == white or
          $colorName == lemon or
          $colorName == gold or
          $colorName == pastry
      ) {
        color: var(--black);
      }
      &:hover, &:focus {
        background-color: var(--#{"" + $colorName + "_dark"});
        border-color: var(--#{"" + $colorName  + "_dark"});
        @if ($colorName == black) {
          background-color: var(--gray_dark);
          border-color: var(--gray_dark);
        }
      }
    }
    &.button-#{"" + $colorName}.inverted {
      color: var(--#{"" + $colorName});
      background-color: transparent;
      border-color: var(--#{"" + $colorName});
      &:hover, &:focus {
        background-color: var(--#{"" + $colorName});
        border-color: var(--#{"" + $colorName});
        color: white;
        @if (
          $colorName == yellow or
          $colorName == cian or
          $colorName == white or
          $colorName == lemon or
          $colorName == gold or
          $colorName == pastry
        ) {
          color: black;
        }
      }
    }
  }
}