$container-sizes: (
  xs: initial,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

.container-fluid, .container {
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto !important;
  margin-left: auto !important;
}

.container {
  @each $name, $value in $grid-breakpoints {
    @media (min-width: $value) {
      max-width: map-get($container-sizes, $name);
    }
  }
}