@use "sass:math";
.input {
  min-height: 44px;
  border: 1px solid var(--gray);
  background: var(--white-html);
  padding: 0.75rem $gutter;
  transition: $transition;
  @extend .border-radius;
  &.small {
    min-height: 25px;
    padding: 0.25rem $gutter;
    background-color: transparent;
    border-radius: 30px;
    color: var(--gray_dark);
    border-color: var(--gray_dark);
  }
  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px var(--gray);
    border-color: var(--gray);
  }
  &.error {
    border-width: 1px;
    border-color: var(--red);
    &:focus {
      box-shadow: 0px 0px 0px 1px var(--red);
    }
  }
  &.valid {
    border-width: 1px;
    border-color: var(--green);
    &:focus {
      box-shadow: 0px 0px 0px 1px var(--green);
    }
  }
  &[readonly],
  &.readonly {
    @extend .readonly;
  }
  &[disabled],
  &.disabled {
    @extend .disabled;
  }
}

.textarea {
  @extend .input;
  @extend .scrollbar;
  min-height: 80px;
  resize: none;
  overflow: auto;
}

.wrapper-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  .input-group-text {
    display: flex;
    align-items: center;
    padding: math.div($gutter, 2) $gutter;
    text-align: center;
    white-space: nowrap;
    border: 1px solid var(--gray);
    @extend .border-radius;
    &:not(button):not(.loader) {
      font-weight: 400;
      line-height: 1.5;
      color: var(--gray_dark);
      background-color: var(--white);
    }
  }
  &>:not(:first-child):not(.box-validation):not(.tooltip) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &>:not(:last-child):not(.box-validation):not(.tooltip) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input, .textarea, .select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }
}

.box-validation {
  display: none;
  width: 100%;
  margin-top: math.div($gutter, 4);
  font-size: 12px;
  color: var(--gray);
  text-align: left;
  i, svg  {
    font-size: 11px;
    margin: 0 math.div($gutter, 4) 0 0;
  }
  &.box-invalid {
    i, svg {
      color: var(--red);
    }
  }
  &.box-valid {
    i, svg {
      color: var(--green);
    }
  }
  &.show {
    display: block;
  }
}