@use "sass:math";
.pagination {
  display: inline-flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--color_border_box_neutral_primary);
  border-radius: 5px;
  overflow: hidden;
  li {
    display: block;
    color: var(--color_text-icon_neutral_secondary);
    border-left: 1px solid var(--color_border_box_neutral_primary);
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    transition: $transition;
    &:hover {
      background-color: var(--color_surface_primary);
    }
    &.active {
      color: var(--primary_color);
      font-weight: 700;
    }
    a, button {
      color: inherit;
      font-size: inherit;
      cursor: inherit;
      padding: math.div($gutter, 2) $gutter;
      border: none;
      background-color: transparent;
      cursor: pointer;
      border-radius: 0;
      i {
        font-size: 12px;
      }
    }
  }
}