.pagination {
  display: inline-flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid var(--gray);
  border-radius: 5px;
  overflow: hidden;
  li {
    display: block;
    color: var(--gray);
    border-left: 1px solid var(--gray);
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    transition: $transition;
    &:hover {
      background-color: var(--white);
    }
    &.active {
      color: var(--pink);
      font-weight: 700;
    }
    a {
      color: inherit;
      font-size: inherit;
      cursor: inherit;
      padding: ($gutter / 2) $gutter;
      i {
        font-size: 12px;
      }
    }
  }
}