.progress {
  width: 100%;
  background-color: var(--gray_light);
  border-radius: 12px;
  height: 10px;
  overflow: hidden;
  .progress-bar {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--pink);
    transition: width 0.6s ease;
    &.background-dashed {
      background-size: 50px 50px;
    }
  }
  .animate-bar {
    animation: width-100 3s linear infinite;
    &.background-dashed {
      animation: width-100 3s linear infinite, move-bg 1.5s linear infinite;
    }
  }
}

