.range[type='range'] {
  appearance: none;
  width: 100%;
  height: 10px;
  background: var(--gray_light);
  outline: none;
  opacity: 0.9;
  border-radius: 12px;
  transition: $transition;
  &:hover {
    opacity: 1;
  }
  &::-webkit-slider-thumb {
    appearance: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--pink);
    cursor: pointer;
    transition: $transition;
    padding: 2px;
    background-clip: content-box;
    border: 2px solid transparent;
    &:hover {
      border-color: var(--pink);
    }
  }
  &::-moz-range-thumb {
    appearance: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--pink);
    cursor: pointer;
    transition: $transition;
    padding: 2px;
    background-clip: content-box;
    border: 2px solid transparent;
    &:hover {
      border-color: var(--pink);
    }
  }
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    &::-webkit-slider-thumb {
      padding: 0;
      height: 22px;
      width: 22px;
      border: none !important;
      background: var(--gray);
      cursor: not-allowed;
    }
    &::-moz-range-thumb {
      padding: 0;
      height: 22px;
      width: 22px;
      border: none !important;
      background: var(--gray);
      cursor: not-allowed;
    }
  }
}