.table-overflow {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  @extend .scrollbar;
}
.table {
  width: 100%;
  overflow: auto;
  border-color: var(--gray_light);
  vertical-align: top;
  position: relative;
  border-collapse: collapse;
  @extend .scrollbar;
  caption {
    caption-side: top;
    text-align: left;
    margin-bottom: ($gutter / 2);
    &.caption-bottom {
      caption-side: bottom;
      margin-bottom: 0;
      margin-top: ($gutter / 2);
    }
  }
  tr {
    position: relative;
    border-spacing: 0;
    border: none;
    transform: scale(1);
  }
  .wrapper-buttons {
    transition: $transition;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    overflow: hidden;
    right: 0;
    top: 5px;
    padding: 0 ($gutter / 2);
    height: calc(100% - 8px);
    background-color: var(--white-html);
    border: none;
    box-shadow:
      inset 1px 0 0 var(--gray),
      inset -1px 0 0 var(--gray),
      -3px 0 3px 0px var(--gray); 
    @media (max-width: map-get($grid-breakpoints, lg)) {
      position: initial;
      top: initial;
      right: initial;
      height: initial;
      width: 100%;
      display: table-caption;
      background-color: inherit;
      opacity: 1;
      box-shadow: none;
      padding-bottom: $gutter;
    }
  }
  &.header-stick {
    > thead {
      tr {
        th, td {
          position: sticky;
          top: 0;
        }
      }
    }
  }
  > thead {
    vertical-align: middle;
    border: none;
    position: relative;
    overflow: hidden;
    th, td {
      background-color: var(--white);
      font-size: 14px;
      line-height: 16px;
      color: var(--black);
      font-weight: 700;
      padding: $gutter ($gutter / 2);
      border: none;
      border-bottom: 4px solid var(--white);
      &:first-child {
        border-radius: 5px 0 0 0;
      }
      &:last-child, &.last-col {
        border-radius: 0 5px 0 0;
      }
    }
  }
  > tbody {
    vertical-align: middle;
    position: relative;
    color: var(--black);
    &> tr {
      background-color: var(--white-html);
      border-bottom: 1px solid var(--gray_light);
      transition: $transition;
      &:hover {
        box-shadow:
          inset 1px 0 0 var(--gray_light),
          inset -1px 0 0 var(--gray_light),
          0 0 4px 0 var(--gray_light),
          0 0 6px 2px var(--gray_light); 
        .wrapper-buttons {
          opacity: 1;
        }
      }
      td, th {
        text-align: center;
        padding: $gutter ($gutter / 2);
      }
      &:last-child {
        border-bottom: 1px solid var(--gray);
      }
    }
  }
  > tfoot {
    vertical-align: middle;
    position: relative;
    tr {
      background-color: var(--white-html);
      border-bottom: 1px solid var(--gray_light);
      td, th {
        padding: $gutter ($gutter / 2);
      }
    }
  }
  &.table-responsive {
    @media (max-width: map-get($grid-breakpoints, lg))  {
      display: block;
      thead, tbody, th, td, tr { 
        display: block; 
      }
      thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border: 1px solid var(--gray_light);
        &:hover {
          background-color: inherit;
        }
        &:last-child {
          border-bottom: 1px solid var(--gray_light); 
        }
      }
      tr:nth-of-type(odd) { 
        background: var(--white); 
      }
      td { 
        border: none;
        position: relative;
        padding-left: 50% !important;
        text-align: left;
      }
      td:before {
        content: attr(data-label);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: 'Roboto', sans-serif;
        font-size: inherit;
        padding: $gutter ($gutter / 2);
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        white-space: nowrap;
        font-weight: 700;
      }
      > tfoot {
        display: none;
      }
      caption {
        display: block;
        &.caption-bottom {
          display: none;
        }
      }
    }
  }
}