.tabs-header {
  display: inline-flex;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--color_surface_primary);
  list-style: none;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  color: var(--black);
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 991px) {
    flex-wrap: nowrap;
    width: 100%;
  }
  li {
    flex: 0 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: $gutter;
    border-radius: 10px;
    text-align: center;
    color: var(--gray);
    background-color: var(--color_surface_primary);
    display: inline-flex;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition:
      color 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease,
      border 0.3s ease;
    &.sm {
      padding: 0.35rem 1rem;
    }
    &:hover {
      color: var(--gray_dark);
      border-color: var(--color_surface_primary);
    }
    &.active {
      flex-shrink: 0;
      width: auto;
      background-color: var(--color_surface_primary);
      color: var(--gray);
      font-weight: 700;
    }
    &.disabled {
      @extend .disabled;
    }
  }
  &.line-style {
    background: var(--transparent);
    border-radius: 5px;
    padding: 0;
    li {
      background: var(--transparent);
      border-radius: 0;
      color: var(--gray);
      position: relative;
      align-items: center;
      padding: $gutter $gutter 0;
      justify-content: center;
      flex-direction: column-reverse;
      border: none;
      &.sm {
        padding: 0.35rem 1rem 0 1rem;
      }
      &::before {
        content: " ";
        border-radius: 5px 5px 0 0;
        height: 4px;
        width: 75%;
        max-width: 100px;
        display: block;
        position: relative;
        margin-top: calc(1rem - 4px);
        transition: $transition;
        background: var(--color_border_box_neutral_primary);
      }
      &:hover {
        color: var(--color_border_box_neutral_primary);
        &::before {
          background: var(--color_surface_secondary);
        }
      }
      &.active {
        color: var(--primary_color);
        border-color: var(--primary_color);
        font-weight: 500;
        box-shadow: none;
        &::before {
          background: var(--primary_color);
        }
      }
    }
  }
  &.tabs-center {
    width: 100%;
    justify-content: space-evenly;
    li {
      width: initial;
    }
  }
  &.tabs-width {
    li {
      flex: 1 0 0;
    }
  }
}

.tabs-wrapper-content {
  display: flex;
  flex-wrap: wrap;
}

.tab-content {
  color: inherit;
  display: none;
  opacity: 0;
  transition: $transition;
  padding: $gutter;
  width: 100%;
  &.active {
    display: block;
    opacity: 1;
  }
}