.tabs-header {
  display: inline-flex;
  border-radius: 10px;
  padding: 0;
  background: var(--white);
  list-style: none;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
  color: var(--black);
  li {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: $gutter;
    border-radius: 10px;
    background: transparent;
    text-align: center;
    color: var(--gray);
    cursor: pointer;
    transition:
      color 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease,
      border 0.3s ease;
    &:hover {
      background: var(--gray_light);
      color: var(--gray_dark);
    }
    &.active {
      flex-shrink: 0;
      width: auto;
      background: var(--white-html);
      color: var(--black);
      font-weight: 700;
      @extend .box-shadow;
    }
    &.disabled {
      @extend .disabled;
    }
  }
  &.line-style {
    background: var(--white-html);
    border-radius: 5px;
    padding: 0;
    li {
      background: var(--white-html);
      border-radius: 0;
      color: var(--gray);
      position: relative;
      display: flex;
      align-items: center;
      padding: $gutter $gutter 0;
      justify-content: center;
      flex-direction: column-reverse;
      &::before {
        content: " ";
        border-radius: 5px 5px 0 0;
        height: 4px;
        width: 75%;
        max-width: 100px;
        display: block;
        position: relative;
        margin-top: calc(1rem - 4px);
        transition: $transition;
      }
      &:hover {
        color: var(--gray_dark);
        &::before {
          background: var(--white);
        }
      }
      &.active {
        color: var(--pink);
        border-color: var(--pink);
        font-weight: 500;
        box-shadow: none;
        &::before {
          background: var(--pink);
        }
      }
    }
  }
  &.tabs-center {
    width: 100%;
    justify-content: center;
    li {
      width: initial;
    }
  }
  &.tabs-width {
    li {
      flex: 1 0 0;
    }
  }
}

.tabs-wrapper-content {
  display: flex;
  flex-wrap: wrap;
}

.tab-content {
  color: inherit;
  display: none;
  opacity: 0;
  transition: $transition;
  padding: $gutter;
  width: 100%;
  color: var(--black);
  &.active {
    display: block;
    opacity: 1;
  }
}