@use "sass:math";
.tag-box {
  border: 1px solid var(--border_color);
  transition: $transition;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  background-color: var(--background);
  font-size: 0.9rem;
  line-height: 1;
  &:hover {
    @extend .box-shadow;
  }
  &.pointer {
    cursor: pointer;
  }
  &.readonly-tag {
    cursor: default;
    background: var(--white) !important;
    &:hover {
      box-shadow: none;
    }
  }
  &.disabled {
    @extend .disabled;
    &:hover {
      box-shadow: none;
    }
  }
  &.rounded {
    border-radius: 50px !important;
  }
}