@use "sass:math";
.tag-box {
  border: 1px solid var(--gray_light);
  transition: $transition;
  cursor: pointer;
  padding: math.div($gutter, 1.5);
  // padding-right: ($gutter * 2.5);
  font-weight: 700;
  position: relative;
  display: inline-block;
  &:hover {
    @extend .box-shadow;
  }
  &.readonly-tag {
    cursor: default;
    background: var(--white) !important;
    &:hover {
      box-shadow: none;
    }
  }
  &.disabled {
    @extend .disabled;
    &:hover {
      box-shadow: none;
    }
  }
  &.rounded {
    border-radius: 50px !important;
  }
}