.toast-container {
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: 1100;
  &.top {
    top: 0;
    bottom: initial;
  }
  &.bottom {
    bottom: 0;
    top: initial;
  }
  &.left {
    left: 0;
    right: initial;
  }
  &.right {
    right: 0;
    left: initial;
  }
  &.has-close {
    .toast {
      grid-template-columns: 1fr 12px;
    }
  }
}

.toast {
  position: relative;
  display: none;
  cursor: pointer;
  padding: $gutter;
  margin: $gutter;
  color: var(--black);
  background-color: var(--white-html);
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-column-gap: $gutter;
  flex-grow: 1;
  font-size: 1rem;
  @extend .border-radius;
  @extend .box-shadow;
  &.not-click {
    cursor: initial;
  }
  &.full {
    width: 100vw;
    margin: 0;
    border-radius: 0;
    padding: 1rem 1.5rem;
  }
  &.success {
    background: var(--green_light);
    color: var(--green_dark);
  }
  &.inverted {
    background: var(--black);
    color: var(--white-html);
  }
  &.info {
    background: var(--blue_light);
    color: var(--blue_dark);
  }
  &.warning {
    background: var(--yellow_light);
    color: var(--yellow_dark);
  }
  &.error {
    background: var(--red_light);
    color: var(--red_dark);
  }
  &.grayscale {
    background: var(--white);
    color: var(--black);
  }
}

.toast-text {
  display: inline-block;
  margin: 0;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  &.clickable {
    cursor: pointer;
  }
}

.toast-close-button {
  cursor: pointer;
  display: none;
  justify-self: flex-end;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.5rem;
  color: inherit;
}