/* Roboto thin */
@font-face {
  font-family: "Roboto";
  src: url("#{$fontsFolderPath}/roboto/Roboto-Thin.woff2") format('woff2'),
       url("#{$fontsFolderPath}/roboto/Roboto-Thin.woff") format('woff'),
       url("#{$fontsFolderPath}/roboto/Roboto-Thin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
/* Roboto thin */

/* Roboto thin italic */
@font-face {
  font-family: "Roboto";
  src: url('#{$fontsFolderPath}/roboto/Roboto-Thin-Italic.woff2') format('woff2'),
       url('#{$fontsFolderPath}/roboto/Roboto-Thin-Italic.woff') format('woff'),
       url('#{$fontsFolderPath}/roboto/Roboto-Thin-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
/* Roboto thin italic */

/* Roboto light */
@font-face {
  font-family: "Roboto";
  src: url("#{$fontsFolderPath}/roboto/Roboto-Light.woff2") format('woff2'),
       url("#{$fontsFolderPath}/roboto/Roboto-Light.woff") format('woff'),
       url("#{$fontsFolderPath}/roboto/Roboto-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
/* Roboto light */

/* Roboto light italic */
@font-face {
  font-family: "Roboto";
  src: url('#{$fontsFolderPath}/roboto/Roboto-Light-Italic.woff2') format('woff2'),
       url('#{$fontsFolderPath}/roboto/Roboto-Light-Italic.woff') format('woff'),
       url('#{$fontsFolderPath}/roboto/Roboto-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
/* Roboto light italic */

/* Roboto regular */
@font-face {
  font-family: "Roboto";
  src: url("#{$fontsFolderPath}/roboto/Roboto-Regular.woff2") format('woff2'),
       url("#{$fontsFolderPath}/roboto/Roboto-Regular.woff") format('woff'),
       url("#{$fontsFolderPath}/roboto/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Roboto regular */

/* Roboto regular italic */
@font-face {
  font-family: "Roboto";
  src: url('#{$fontsFolderPath}/roboto/Roboto-Regular-Italic.woff2') format('woff2'),
       url('#{$fontsFolderPath}/roboto/Roboto-Regular-Italic.woff') format('woff'),
       url('#{$fontsFolderPath}/roboto/Roboto-Regular-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
/* Roboto regular italic */

/* Roboto medium */
@font-face {
  font-family: "Roboto";
  src: url("#{$fontsFolderPath}/roboto/Roboto-Medium.woff2") format('woff2'),
       url("#{$fontsFolderPath}/roboto/Roboto-Medium.woff") format('woff'),
       url("#{$fontsFolderPath}/roboto/Roboto-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
/* Roboto medium */

/* Roboto medium italic */
@font-face {
  font-family: "Roboto";
  src: url('#{$fontsFolderPath}/roboto/Roboto-Medium-Italic.woff2') format('woff2'),
       url('#{$fontsFolderPath}/roboto/Roboto-Medium-Italic.woff') format('woff'),
       url('#{$fontsFolderPath}/roboto/Roboto-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
/* Roboto medium italic */

/* Roboto bold */
@font-face {
  font-family: "Roboto";
  src: url('#{$fontsFolderPath}/roboto/Roboto-Bold.woff2') format('woff2'),
       url('#{$fontsFolderPath}/roboto/Roboto-Bold.woff') format('woff'),
       url('#{$fontsFolderPath}/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* Roboto bold */

/* Roboto bold italic */
@font-face {
  font-family: "Roboto";
  src: url('#{$fontsFolderPath}/roboto/Roboto-Bold-Italic.woff2') format('woff2'),
       url('#{$fontsFolderPath}/roboto/Roboto-Bold-Italic.woff') format('woff'),
       url('#{$fontsFolderPath}/roboto/Roboto-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
/* Roboto bold italic */

/* Roboto black */
@font-face {
  font-family: "Roboto";
  src: url('#{$fontsFolderPath}/roboto/Roboto-Black.woff2') format('woff2'),
       url('#{$fontsFolderPath}/roboto/Roboto-Black.woff') format('woff'),
       url('#{$fontsFolderPath}/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
/* Roboto black */

/* Roboto black italic */
@font-face {
  font-family: "Roboto";
  src: url('#{$fontsFolderPath}/roboto/Roboto-Black-Italic.woff2') format('woff2'),
       url('#{$fontsFolderPath}/roboto/Roboto-Black-Italic.woff') format('woff'),
       url('#{$fontsFolderPath}/roboto/Roboto-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
/* Roboto black italic */