*, :after, :before {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
}

hr {
  border-color: var(--gray_light);
  margin: $gutter 0;
  border-style: solid;
}

figure {
  margin: 0;
}

body, html {
  font-size: 14px;
  line-height: 16px;
  max-width: 100%;
  display: block;
  position: relative;
  color: var(--black);
}

body {
  &.block {
    overflow: hidden;
    padding-right: 7px;
  }
}

p,
a,
span,
li,
ol,
label,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select,
div,
output,
caption {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  font-weight: 400;
  margin: 0;
  &:hover {
    text-decoration: none;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.small {
  font-size: 85%;
}

.big {
  font-size: 115%;
}

span,
a,
li,
ol {
  font-weight: inherit;
}

a {
  color: var(--blue_dark);
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

label {
  display: block;
  font-weight: 500;
  color: var(--gray_dark);
  margin-bottom: 0.5rem;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0 auto 1rem;
  font-weight: 700;
}

h1, .h1 {
  font-size: 26px;
  line-height: 28px;
}

h2, .h2 {
  font-size: 24px;
  line-height: 26px;
}

h3, .h3 {
  font-size: 22px;
  line-height: 24px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 22px;
}

h5, .h5 {
  font-size: 18px;
  line-height: 20px;
}

h6, .h6 {
  font-size: 16px;
  line-height: 18px;
}

$transition: all 0.3s ease;

a,
p,
li,
ol,
i {
  transition: $transition;
}