*, :after, :before {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
}

figure {
  margin: 0;
}

body, html {
  font-size: 14px;
  line-height: 16px;
  max-width: 100%;
  display: block;
}

p,
a,
span,
li,
ol,
label,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button,
select,
div,
output {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
  margin: 0;
  &:hover {
    text-decoration: none;
  }
}

.small {
  font-size: 85%;
}

.big {
  font-size: 115%;
}

span,
a,
li,
ol {
  font-weight: inherit;
}

a {
  color: var(--blue_dark);
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

label {
  font-weight: 500;
  color: var(--gray_dark);
  margin-bottom: 0.5rem;
}

.border-radius {
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto 1rem;
  font-weight: 700;
}

h1 {
  font-size: 26px;
  line-height: 28px;
}

h2 {
  font-size: 24px;
  line-height: 26px;
}

h3 {
  font-size: 22px;
  line-height: 24px;
}

h4 {
  font-size: 20px;
  line-height: 22px;
}

h5 {
  font-size: 18px;
  line-height: 20px;
}

h6 {
  font-size: 16px;
  line-height: 18px;
}

.background-dashed {
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%, 
    transparent
  );
  &.animated-dashed {
    animation: move-bg 1.5s linear infinite;
  }
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}

$transition: all 0.3s ease;

a,
p,
li,
ol,
i {
  transition: $transition;
}